<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movies Show</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<header>
  <div class="headertext">
    <a href="/movies" class="headlink"><p>Mike's Movie Reviews</p></a>
  </div>
</header>
<body>
<img src="{{posterUrl}}" alt="{{title}}" class ="img"/>
    <p>Title: {{title}}</p>
    <p>Director: {{director}}</p>
    <p>Year: {{year}}</p>
    <p>My rating: {{rating}}</p>
    <a href="/movies">ALL MOVIES</a>
</body>
</html>
